<ng2-slim-loading-bar color="red"></ng2-slim-loading-bar>
<mat-toolbar color="primary">  
  <mat-toolbar-row>
    <span>Welcome to {{title}}!</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="businessMenu"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">business_center</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #businessMenu="matMenu">
  <button mat-menu-item [routerLink]="['/business/create']" ><mat-icon>list</mat-icon>Add Business</button>
  <button mat-menu-item [routerLink]="['/business']" ><mat-icon>add</mat-icon>Business List</button>
</mat-menu>

<div class="container">
  <router-outlet></router-outlet>
</div>
